<form method="POST" class="w-full" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span> 
        {% endfor %}
    {% endif %}
    {% for field in form %}
        <div class="input w-full {% if field.errors %}has_error{% endif %}">
            <span class="w-full">{{field}}</span>
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="text-red-700 font-medium text-sm">{{error}}</span> 
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</form>